# Activer la règle de réécriture d'URL
RewriteEngine On

# Rediriger vers le fichier sans l'extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# On vérifie si la requête correspond à un répertoire
RewriteCond %{REQUEST_FILENAME} !-d

# On vérifie si la requête correspond à un fichier
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?g=$1 [L,QSA]
